$fav-crimson: #fc043d;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	// This defines what 1rem is (10px)
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	background: dodgerblue;
	font-family: Arial;
	padding: 1rem;
	font-size: 2rem;
	line-height: 1.7;
}


.container {
	width: 80rem;
	margin: 0 auto;
}

.box {
	
	border: 1rem solid #fff;
	border-radius: 1rem;
	padding: 2rem;
	background: lavender;

	.header {
		text-align: center;
	}

	.info {
		text-align: left;
		font-size: 2rem;

		width: 60rem;
		margin: 2.5rem auto;
		line-height: 2.4rem;
		p {
			margin: 1rem auto;
		}

		ol, ul {
			padding-left: 3rem;
		}
	}
	
	.btn-custom {
			background: dodgerblue;
			text-transform: none;
			font-size: 1.5rem;

			transition: transform 0.3s;
			&:hover {
				transform: translateY(-3px) scale(1.05);
			}

			&:active {
				transform: translateY(0) scale(1.05);
			}

			i {
				font-size: inherit;
			}
		}
	.content {
		text-align: center;
		
		.navbar {
			width: 30rem;
			margin: 20px auto;
			display: flex;
			justify-content: space-between;
		}

		.section {
			margin: 3rem 0;
		}

		select {
			font-size: 1.6rem;
			height: 3rem;
			width: 33rem;
			text-align: center;
			
		}

		.rota-screenshot {
			display: block;
			width: 55%;
			margin: 1rem auto;

			cursor: pointer;
			transition: 0.3s;

			&:hover {
				opacity: 0.7;
			}

		}

		#canterbury-dual {

			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.rota-screenshot {
				width: 48%;
				height: 100%;
			}
		}

// ===========================================================
// MODAL SETUP START

		/* The Modal (background) */
		.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding: 5rem; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */


		}

		/* Modal Content (Image) */
		.modal-content {
		    margin: auto;
		    display: block;
		    width: 100%;
		    // max-width: 700px;
		}


		/* Add Animation - Zoom in the Modal */
		.modal-content { 
		    animation-name: zoom;
		    animation-duration: 0.6s;
		}

		@keyframes zoom {
		    from {transform:scale(0)} 
		    to {transform:scale(1)}
		}

		/* The Close Button */
		.close {
		    position: absolute;
		    top: 2rem;
		    right: 2rem;
		    color: #f1f1f1;
		    font-size: 40px;
		    font-weight: bold;
		    transition: 0.3s;
		    line-height: 0.7;
		}

		.close:hover,
		.close:focus {
		    color: #bbb;
		    text-decoration: none;
		    cursor: pointer;
		}

		/* 100% Image Width on Smaller Screens */
		@media only screen and (max-width: 700px){
		    .modal-content {
		        width: 100%;
		    }
		}

// MODAL SETUP END
// ===========================================================

		input[type="file"] {
			font-size: 2rem;
			max-width: 30rem;
			margin-left: 10rem;
			line-height: 0;
		}

		input[type="text"], input[type="number"] {
			font-size: 25px;
			height: 35px;
			border: 2px dodgerblue solid;
			border-radius: 5px;
			text-align: center;
	
			&:focus {
				outline: none;
			}

			&.one-letter {
				width: 55px;
			}

			&.few-letters {
				width: 70px;
			}	
			
		}
	
		.caption {
			color: #888;
			font-size: 0.8em;
			margin: 1rem 0;
		}	

	}

	.footer {
		font-size: 2rem;
		text-align: center;
		margin-top: 100px;
	}

}

