{% extends "templates/base.html" %}

{% block content %}

	<div class="info">
		<p>Hi and welcome! :) </p>
		<p>If you work as a doctor in the UK's NHS, this website is a free and simple file conversion service that helps you quickly turn your rota, whatever format you receive it in, into a spreadsheet that's ready to import into Google Calendar, Apple/iCloud Calendar, or any other commonly used digital calendar service. This allows you to use a digital calendar for your work rota without having to manually enter every day separately into an app or website.</p>
		<p>This website relies on doctors/rota coordinators kindly giving me access to anonymous template rotas for their jobs, using which I can then create specific conversion functions. They are grouped by hospital and specialty/department. If your hospital or department rota is not available, you can request for me to create a converter for your rota. <a href="/expand">Click here to see what you need to send</a></p>
		<p>If you have any problems, suggestions, or questions at all, please feel free to email me at <a href="mailto: vigdhildev@gmail.com">VigDhilDev@gmail.com</a></p>
		<br>
		<p style="text-align: center">- Vignesh Dhileepan</p>
	</div>

{% endblock %}

{% block javascript %}
	
	<script type="text/javascript">
	</script>

{% endblock %}