<!DOCTYPE html>
<html>
<head>
	<title>NHS Rota to Google Calendar converter</title>
	<meta charset="utf-8">
	<meta name="description" content="A simple file conversion service that converts your NHS rota into a format that you can import into Google Calendar">
	<meta name="author" content="Vignesh Dhileepan">
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114826821-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114826821-4');
</script>


	<!-- Materialize - CSS -->
		<link rel="stylesheet" type="text/css" href="/static/lib/materialize-src/materialize_tailored.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Jquery -->
		<script type="text/javascript" src='/static/lib/jquery-3.2.1.min.js'></script>

	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
	<body>

		<div class="container">
			<div class="box">
				<h1 class="header">NHS Rota to Google Calendar Converter</h1>
				
				<div class="content">

					<div class="navbar">
						<form action="/"><button class="btn btn-custom"><i class="material-icons" style="font-size: 25px">home</i></button></form>
						<form action="/about"><button class="btn btn-custom">About</button></form>
					</div>
					
					{% block content %}{% endblock %}
					
				</div>
				
				<div class="footer"> <hr> <div class="section">
					Vignesh Dhileepan &copy; 2018 - <a href="mailto: vignesh.dhileepan@gmai">vignesh.dhileepan@gmail.com</a>
				</div></div>

			</div>
			
			
		</div>

		<script type="text/javascript">
			var pd = {{pd | tojson}};
			for (key in pd) {
				window[key] = pd[key];
			}

			function nastyToNice(nasty) {
				return nice_name_dict[nasty];
			}

			function niceToNasty(nice) {
				return nice_name_dict_reversed[nice];
			}

		</script>

		{% block javascript %}{% endblock %}
	</body>
</html>