{% extends "templates/base.html" %}

{% block content %}

	<div class="info">
		<p>If your hospital or department rota isn't listed as available to convert, please feel free to email me at <a href="mailto:vignesh.dhileepan@gmail.com">vignesh.dhileepan@gmail.com</a>, and I'd love to include it. Please email me with:</p>
		<ul>
			<li>The city your hospital is in, and what it's exact name is</li>
			<li>The department/specialty your rota covers</li>
			<li>Your rota, in the format it's sent to everyone, as an attached file - ensure that any actual names are replaced with placeholders like 'Name 1', 'Name 2' etc</li>
		</ul>
		<p>Thanks!</p>
	</div>

{% endblock %}

{% block javascript %}
	
	<script type="text/javascript">
		$('.on-every-page').css('display', 'none');
	</script>

{% endblock %}