{% extends "templates/base.html" %}

{% block content %}

	<div class="info">
		<p>If your hospital or department rota isn't listed as available to convert, I'd love to include it. Just email me at <a href="mailto:vigdhildev@gmail.com">VigDhilDev@gmail.com</a> with the subject "New NHS rota conversion request". In your message, please include:</p>
		<ul>
			<li>The city your hospital is in</li>
			<li>The exact name of your hospital</li>
			<li>The department/specialty your rota covers</li>
			<li>What grades it covers (e.g. FY1 only, mixed SHO etc)</li>
			<li>Your rota as an attached file, in the format in which it is usually sent to everyone. <strong>Ensure that any actual names are replaced with placeholders, e.g. 'Name 1', 'Name 2', etc</strong></li>
		</ul>
	</div>

{% endblock %}

{% block javascript %}
	
	<script type="text/javascript">
		$('.on-every-page').css('display', 'none');
	</script>

{% endblock %}