{% extends "templates/base.html" %}

{% block content %}

		{% include "templates/short_intro.html" %}

		<form class='upload-page-form' action="">
			<div class="section">
				<label for='hospital'>Select your hospital:</label>
				<select class="dropdown hospital">
					<option>Ashford, Kent - William Harvey Hospital</option>
				</select>
			</div>
			<div class="section">
				<label for='hospital'>Select your specialty:</label>
				<select class="dropdown specialty">
					<option>Medicine</option>
				</select>
			</div>
			<div class="section">
				<label>Your rota should look roughly like this:</label>
				<img class="rota-screenshot" alt='Rota screenshot'>
				<div class="info">
					<p>If your rota does not look like this, and you are sure you have selected the correct hospital and department, please email me at <a href="mailto: vigdhildev@gmail.com">vigdhildev@gmail.com</a></p>
					<p>If it looks the same, please proceed to the upload page by clicking on the button below:</p>
				</div>
			</div>

			<!-- The Modal -->
			<div id="myModal" class="modal">
				<!-- The Close Button -->
				<span class="close">&times;</span>

				<!-- Modal Content (The Image) -->
				<img class="modal-content" id="img01">
			</div>

			<div class="section">
				<button type='submit' class='btn btn-custom btn-small'>Go to upload page</button>
			</div>

		</form>

{% endblock %}

{% block javascript %}
	
	<script type="text/javascript" src="/static/js/home/dropdowns.js"></script>
	<script type="text/javascript" src="/static/js/home/imgModal.js"></script>
	<script type="text/javascript" src="/static/js/home/main.js"></script>

{% endblock %}