<div class="info on-every-page">
	<p>If you are a junior doctor in the UK, use this site to convert your rota into a .csv file which can be imported into Google (or any other) Calendar. Simply:</p>
	
	<ol>
		<li>Select your hospital and specialty/department on the home page</li>
		<li>Upload your rota as an Excel file</li>
		<li>Specify your row/column and any other information requested</li>
		<li>Click 'convert!' and your converted rota will download as a csv file</li>
		<li>Congrats, you can now import the converted rota into Google calendar</li>
		<li>After importing into Google Calendar (for which all you need is a free Google Account), you can export from Google to get an .ics format. This .ics file can then be imported into Apple/iCloud Calendar or any other commonly used digital calendar service.</li>
	</ol>
	
	<div class="section">
		<a href="/nhsrotaconverter/expand">Help! My hospital/specialty isn't listed</a>
	</div>
	
	<br>
	<hr>
</div>