<div class="info on-every-page">
	<p>If you are a junior doctor in the UK, use this site to convert your rota into a .csv file which can be imported into Google (or any other) Calendar. Simply:</p>
	
	<ol>
		<li>Select your hospital and specialty/department, then proceed to the upload page</li>
		<li>Upload your rota as an Excel (.xlsx) file unless specifically requested as a different file</li>
		<li>Specify your row/column and any other information requested</li>
		<li>Click 'convert!' and your converted rota will download as a csv file</li>
		<li>Success! You can now import this converted rota into Google calendar</li>
		<li>If you do not use Google calendar: First import into Google Calendar anyway (for which all you need is a free Google Account). After this, you can export from Google to get an .ics format. This .ics file can then be imported into Apple/iCloud Calendar or any other commonly used digital calendar service.</li>
	</ol>
	
	<div class="section">
		<a href="/expand">Help! My hospital/department isn't listed</a>
	</div>
	
	<br>
	<hr>
</div>